*.o
*.bak
*.d
*.crf
!*.gitignore
!*.c
!*.h
!*.hex
!*.txt
*.cuihe
Project/STM32F10x_StdPeriph_Template/MDK-ARM/Project.uvgui.cuihe
*.cuihe
*.bak
*.o
*.axf
HEX_OUTPUT/STM32100E-EVAL.htm
*.tra
*.o
*.o
HEX_OUTPUT/adc.o
*.cuihe
*.uvopt
